# Add any directories, files, or patterns you don't want to be tracked by version control

# Unity ignore folders & files

**/Library/
**/obj/
**/Temp/
**/Build
**/.vs

*.csproj
*.sln
*.userprefs
ProjectBuilder.*

# Package & Apk files

*.7z
*.gz
*.rar
*.tar
*.zip
*.apk
*.alz
*.egg
*.aab

# Logs & DB

Thumbs.db
*.log